extends layout.pug

block append scripts

block content

  .content
    h1 Queryables 
    p "Queryables" are attributes that can be used in search or selection expressions, for example, in queries or styling rules.

