extends layout.pug

block content

  .container
    .row
      .col-sm-12
        br
        section#collection
          .row
            .col-sm
              h1 #{content.title}
              p
                | #{content.description}
    .row
      .col-sm-12
        h3 Browse
        - var linkItems = content.links.find(l => l.rel == 'items' && l.type == 'text/html').href
        ul
          li
            div
              a(title='Browse Items' href=linkItems)
                | Browse through the items of &quot;#{content.title}&quot;
