extends layout.pug

block content

  .container
    .row
      .col-sm-12
        br
        section#data-collections
          h2.text-body-emphasis Data collections in this service
          table.table.table-striped.table-bordered
            thead
              tr
                th Name
                th Description
            tbody
            each collection in collections
              - var linkCollection = collection.links.find(l => l.rel == 'self').href
              tr
                td(data-label='name')
                  a(href=linkCollection) #{collection.title}
                td(data-label='description') #{collection.description}
