extends layout.pug

block content

  .container
    .row
      .col-sm-12
        br
        section#processes
          h2 Processes in this service
          .row
            .col-sm-12.col-md-6
              table.table.table-striped.table-bordered
                thead
                  tr
                    th Name
                    th Description
                tbody
                  each process in processes
                    - var link = process.links.find(i => i.rel == 'self').href
                    tr(itemscope='' itemtype='https://schema.org/WebAPI')
                      td(itemprop='name' data-label='name')
                        a(href=link) #{process.title}
                      td(itemprop='description' data-label='description') #{process.description}
